{% extends 'base.html' %}
{% block title %}Extract{% endblock %}
{% block content %}
    <h1>extracting {{id}}... and then redirect to product page if the id is valid else redirect to extract with an error</h1>
    {% if error != '' %}
        <h1>{{error}}</h1>
    {% endif %}
    <form method="get" action="{{url_for('extract')}}">
        <input type="text" name="id" id="id" placeholder="154673397" value="154673397"/>
        <input type="hidden" name="form_submitted" id="form_submitted" value="true">
        <input type="submit">Submit</input>
    </form>
{% endblock %}