{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    {% if not products %}
        <h1 class="alert alert-danger" role="alert">Nie pobrałeś jeszcze opinii o żadnych produktach</h1>
    {% else %}
        <div class="list_wrapper">
            {% for product in products %}
                <div class="product desc_item">
                    <img src="{{product.photo_link}}" alt="photo">
                    <div class="base_product_info">
                        <a href="{{ url_for('product_page', id=product.id)}}"><h1>{{product.name}}</h1></a> 
                        <div class="misc_data">
                            <div class="misc_data_item">
                                <h1><i class="bi bi-pie-chart" style="color: rgb(150, 69, 255);"></i>{{product.num_of_opinions}}</h1>
                                <h6>liczba opinii</h6>
                            </div>
                            <div class="misc_data_item">
                                <h1><i class="bi bi-hand-thumbs-up" style="color: rgb(26, 223, 0);"></i>{{product.num_of_pros}}</h1>
                                <h6>liczba zalet</h6>
                            </div>
                            <div class="misc_data_item">
                                <h1><i class="bi bi-hand-thumbs-down" style="color: rgb(223, 0, 0);"></i>{{product.num_of_cons}}</h1>
                                <h6>liczba wad</h6>
                            </div>
                            <div class="misc_data_item">
                                <h1><i class="bi bi-star" style="color: rgb(255, 238, 0);"></i>{{product.avg_rating}}</h1>
                                <h6>średnia ocena</h6>
                            </div>                     
                        </div>
                        
                    </div>
                    <div class="product_buttons">
                        <a href="{{ url_for('download', id=product.id, f_type='json') }}" class="btn btn-primary">JSON</a>
                        <a href="{{ url_for('download', id=product.id, f_type='csv') }}" class="btn btn-primary">CSV</a>
                        <a href="{{ url_for('download', id=product.id, f_type='xlsx') }}" class="btn btn-primary">XLSX</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}