{% extends 'base.html' %}
{% block title %}Product{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js" defer></script>
{% endblock %}
{% block content %}
    <div class="desc_item">
        <div class="product_info_wrapper">
            <div class="simple_wrapper">
                <div class="product_info">
                    <img src="{{product.photo_link}}" alt="photo">
                    <div class="base_product_info">
                        <h1>ID: <span>{{product.id}}</span></h1>
                        <h1>Nazwa: <span>{{product.name}}</span></h1>
                        <h1>Liczba opinii: <span>{{product.num_of_opinions}}</span></h1>
                    </div>
                </div>
                <div class="product_buttons">
                    <a href="{{ url_for('download', id=product.id, f_type='json') }}" class="btn btn-primary mb-3">JSON</a>
                    <a href="{{ url_for('download', id=product.id, f_type='csv') }}" class="btn btn-primary mb-3">CSV</a>
                    <a href="{{ url_for('download', id=product.id, f_type='xlsx') }}" class="btn btn-primary mb-3">XLSX</a>
                    <a href="{{ url_for('charts', id=product.id) }}" class="btn btn-primary mb-3">WYKRESY</a>
                </div>
            </div>
            
        </div>
        <div class="table_wrapper">
            <table id="product_data" class="table table-striped" data-bs-theme="dark">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>AUTHOR</th>
                        <th>RECOMMENDED</th>
                        <th>SCORE</th>
                        <th>VERIFIED</th>
                        <th>REVIEW_DATE</th>
                        <th>BUY_DATE</th>
                        <th>LIKES</th>
                        <th>DISLIKES</th>
                        <th>CONTENT</th>
                        <th>PLUSES</th>
                        <th>MINUSES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for opinion in opinions: %}
                    <tr>
                        <td>{{opinion.id}}</td>
                        <td>{{opinion.author}}</td>
                        <td>{{opinion.recommended}}</td>
                        <td>{{opinion.score}}</td>
                        <td>{{opinion.verified}}</td>
                        <td>{{opinion.review_date}}</td>
                        <td>{{opinion.buy_date}}</td>
                        <td>{{opinion.likes}}</td>
                        <td>{{opinion.dislikes}}</td>
                        <td style="min-width: 800px;">{{opinion.content}}</td>
                        <td style="min-width: 500px;">
                            {% for plus in opinion.plus: %}
                                {{plus.strip()}},
                            {% endfor %}
                        </td>
                        <td style="min-width: 500px;">
                            {% for minus in opinion.minus: %}
                                {{minus}},
                            {% endfor %}
                        </td>
                    </tr>            
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>AUTHOR</th>
                        <th>RECOMMENDED</th>
                        <th>SCORE</th>
                        <th>VERIFIED</th>
                        <th>REVIEW_DATE</th>
                        <th>BUY_DATE</th>
                        <th>LIKES</th>
                        <th>DISLIKES</th>
                        <th>CONTENT</th>
                        <th>PLUSES</th>
                        <th>MINUSES</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    
    <script>
        
        $(document).ready( function () {
            //$('#product_data').DataTable();
            new DataTable('#product_data', {
                "autoWidth": false,
                "columnDefs": [
                    {"className": "dt-center", "targets": "_all"}
                ],
                scrollX: 1400,
                scrollY: 500,
                initComplete: function () {
                this.api()
                .columns()
                .every(function () {
                    let column = this;
                    let title = column.footer().textContent;
    
                    // Create input element
                    let input = document.createElement('input');
                    input.placeholder = title;
                    column.footer().replaceChildren(input);
    
                    // Event listener for user input
                    input.addEventListener('keyup', () => {
                        if (column.search() !== this.value) {
                            column.search(input.value).draw();
                        }
                    });
                });
                    }
            });
        } );
        
    </script>
{% endblock %}